
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&display=swap');

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    
}
*{
    box-sizing: border-box;
}
body{
    margin: 30px;
    font-family: Dosis, sans-serif;;
}
/*shadow -text */
#shadow-text{
    position: relative;
}
#shadow-text h1{
    text-transform: uppercase;
    position: absolute;
    margin-top: -50px;
    margin-left: -5px;
    opacity: 0.05;
    font-size: 100px;

}
#shadow-text > p{
    position: absolute;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    margin-left: 40px;

}
/*shadow -text end */

/* landing section start here  */

.main-section{    
    margin-bottom: 20%;    
}
#header-section{
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url("./img/landing-section-home.jpg");
    background-position: 0px 0px, 50% 0%; 
  
    position:relative;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    min-height: 85vh;
    
    box-sizing:border-box;
    padding: 20px 50px ;
    
}
.nav-bar{
    display:flex;
    background-color:white;
    align-items: center;
    position:relative;
    justify-content: flex-end;

}
  /*before psedo element watch it..*/
.logo-wrapper{
    align-items: center;
    display:flex;
    width: 100px;
    height: 100px;
    display:  flex;
    background-color:#E47312;
    float: left;
    padding-right: 35px;
    padding-left: 35px;
    box-sizing:content-box;
}
.logo-wrapper > img{
    min-width: 100%;
    
}

.menu-items{
    display:flex; 
    align-items: center;
    
}

/* menu hover ANIMATION start */  
.menu-item{
	position: relative;
	transition: .2s;
}
.menu-item::before {
	content: '';
	position: absolute;
	left: 0%;
	top: 0%;
	right: 0%;
	width: 2px;
	height: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: #e47312;
	transition: .2s;
} 
.menu-item::after {
	content: '';
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0%;
	width: 2px;
	height: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: #e47312;
	transition: .2s;
} 
.menu-item:hover::before, .menu-item:hover::after {
	height: 30px;
    
}
.menu-item:hover{
    color: #e47312;
}

/*menu hove ANIMATION ends */

.menu-items > a{
    color:black;
    text-decoration:none;
    display: inline-block;
    padding: 31px 14px;
    align-items: center;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;  
}
.get-free-quote{
    background-color:#E47312;
    padding: 31px 14px;
    color:white;  
    font-weight: 500;
    box-sizing: border-box;
    margin-left: 10px; 
}
  
.btn-btn{
    margin-top: 15px;
    background-color:#E47312;
    padding: 15px 25px;
    color: white;
    border:0;
    width: auto;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.header-card-social-link{
    background-color: #0A1229; 
    position: absolute;
    /* right: 0;
    left: auto; */
    top: auto;
    right: 0%;
    bottom: 143px;
    cursor: pointer;
}
.header-social-icon-wrapper{
    width: 55px;
    height: 60px;
    align-items: center;
    padding: 18px;
    box-sizing: border-box;
    z-index: 1;
}
.header-social-icon-wrapper > img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.header-social-link-divider{
    height: 0.5px;
    background-color: lightgray;
    width: 100%;  
    margin-top: 10px;
}
  

.main-title{
    color:white;
   
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
}

.main-title > p{
    /* margin-bottom: 20px; */
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 200;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
}
.main-title > h1{
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 65px;
}


.side-overlay-landing-section{
    min-width: 75%;
    min-height:40%;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;
    /* bottom:-20%; */
    right:0; 

    position: absolute;
    left: auto;
    top: auto;
    bottom: -83px;
    padding: 15px 10px 15px 40px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
}


.phone-wrapper,.contact-wrapper,.opening-time-wrapper{
  display: flex;
  flex-direction: column;
  
  letter-spacing: 1px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;

}

.phone-wrapper>img{
  width: 24px;
  margin-bottom: 24px;
  
}
.phone-wrapper>h4{
   margin-bottom: 24px;
}
.phone-wrapper>p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
 }
.contact-wrapper>img{
    width: 24px; 
    margin-bottom: 24px; 
}
.contact-wrapper > h4{
    margin-bottom: 24px;
}
.contact-wrapper > p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
}
.opening-time-wrapper > img{
    width: 24px;
    margin-bottom: 24px;
}
.opening-time-wrapper > h4{
    margin-bottom: 24px;
}
.opening-time-wrapper > p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
}

/* landing section end here */


/*OUR SERVICE SECTION START */

#our-specialization-section-wrapper{

   
}

.section-header-wrapper{
    text-transform: uppercase;
    display: flex;
}

.sevices-categories{
    display: flex;
    margin: 100px 40px;
}

.services{
    width: 25%;
    padding:20px;
    box-sizing: border-box;
}
.services>img{
   height: 80px;
   margin-bottom: 20px;
}

.services>h3{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.services>p{
    margin-bottom: 15px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.learn-more-wrapper{
    margin-top: 30px;
}
.learn-more-wrapper a{
   padding-bottom: 10px;
   text-decoration: none;
   border-bottom: 2px solid red;
   box-sizing: border-box;
   color: #919197;
}


/*OUR SERVICE SECTION END */





/*about-section start*/
#about-section-wrapper{
    display: flex;
}
#about-section-wrapper > .section-header-wrapper{
    padding-left: 70px;
    box-sizing: border-box;
}
.about-img-wrapper-left{
    width: 50%;
    box-sizing: border-box;
    
}
.about-img-wrapper-left > img{
    width: 100%;
}


.para-header-wrapper-right{
    width: 50%;
    
    padding: 80px 30px;
}

.para-header-wrapper-right >p{
    margin-bottom: 15px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
} 

.meet-team-link{
    margin-top: 20px;
}
.meet-team-link > a{
    text-decoration: none;
    border-bottom: 2px solid red;
    padding-bottom: 6px;
    color: #919197;
}
/*about-section-end */





/*follow counter sta.. start */

#counter-wrapper{
    margin: 50px 0;
    display:flex;
    justify-content: space-around;
    padding-bottom: 60px;    
}
.number-follower{
    color:#b38965;
}
.number-follower-wrapper{
    width:25%;
}
.number-follower-wrapper >p{
    margin-bottom: 15px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    
}
.number-follower{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}

/*follow counter sta.. start */


/* work-profession-testimonials-wrapper */
/*  .....  WORKING ON IT .... */
#work-profession-testimonials-wrapper{
    background-color: #F7F8FC;
    min-height: 350vh;
}

                /* sub-section our work card section start*/
.work-card-wrapper{
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 32%;
    height: 32%;
    position: relative;
    padding: 10px 0px;
}

.card>img{
    width: 100%;  
}

#hover-visible-view-project{
    background-image: linear-gradient(45deg, #e47312, #ff6361);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    display: none;
    font-size: 10px;
    font-weight: 100;

    /*center the div */
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.card:hover > #hover-visible-view-project{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: white;
    animation-name: hover-delay;
    
}
.card:hover > img{
    background-color: rgba(0, 0, 0, 0.3)
}
                /* sub-section our work section end */

.image-slider-work-project{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(72deg
, #e47312, rgba(255, 99, 97, 0.78)), url(./img/banner-slider.jpg);
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e47312;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    margin-bottom: 100px;

}
.image-slider-text-wrapper  h3{
    color: white;
    text-align: center;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.image-slider-text-wrapper > p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

.image-slider-text-wrapper div p{
    text-transform: uppercase;
    text-align: center;
    color:white;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}

/* sub-section professionals start */

#professional-section-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.team-card-wrapper{
    width: 20%;
    position: relative;
    box-shadow: 0 0 1px #ccc;
}
.team-card-wrapper img{
    width: 100%;s
}
.team-card-social-link{
    width: 60px;
    height: 20px;
    height: 150px;
    background-color: #E47312;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}
.social-icon-wrapper{
    min-height: 30px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;  
}
.social-link-divider{
    height: 1px;
    background-color: lightgray;
    width: 100%;  
}
.team-card-social-link img{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
}


/* sub-section professionals end */
#testmonial-section-wrapper{
    display: flex;
    justify-content: space-between;

}

.testmonial-left{
    width: 40%;
}

.testmonial-right{
    width: 60%;
    
}
.testmonial-card > .testmonial-card-1{
    background-color: white;
    width: 30%;
}

.top-sign{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    color:white
}
.card-header-testmonial>h3{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.card-header-testmonial>p{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
}
.testmonial-card-1{
    position: relative;
    display: block;
    width: 90%;
    
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
}

.para-testmonail{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
}

/*testmonial subsection  start */



/*testmonial subsection  end */








/* end work-profession-testimonials-wrapper */









/* CARD BLOG START*/
#card-section-wrapper{
    display: inline-flex;
    justify-content: space-evenly;
}
.card-wrapper{
    width: 30%;
    position: relative;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    color: white;
    margin:120px 0;
}
.date-wrapper{
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
}
.date-wrapper .date-num{
    box-sizing: border-box;
    padding: 10px 12px;
    height: 50px;
    color: white;
    background-image: linear-gradient(45deg, #e47312, #ff6361);
}
.date-wrapper .date-month{
    height: 50px;
    padding: 10px 10px;
    background-color: white;
    color: grey;
    box-sizing: border-box;
}
.card-wrapper > img{
    width: 100%;
}

.desc-title-wrapper{
    padding: 20px;
}
.desc-title-wrapper h3{

    margin-bottom: 10px;
}
.desc-title-wrapper p{
    
    margin-bottom: 10px;
}
.desc-title-wrapper a{
    text-decoration: none;
    color:white
}
/* CARD BLOG END*/


/*footer-wrapper start*/
.companies-logo-wrapper{
    background-image: linear-gradient(45deg, #e47312, #ff6361);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 2%;
    box-sizing: border-box;
    color:white;
}

.img-wrapper img{
    width: 150px;
    height: 80px; 
}
.footer{
    background-color: #0a1229;;
    color:white;
    margin: 0 40px;
    box-sizing: border-box;
}

.main-content{
    padding: 80px 40px;
    display: flex;
    justify-content: space-around;
}
.main-content-about, .main-content-services,.main-content-contact{
    width: 30%;
}
.main-content-about-title{
    margin-bottom: 30px;
    padding-right: 14px;
    
}
.main-content-about >p {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 5px;
    
}
.main-content-about > h3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content-about-title{
    position: relative;
    display: flex;
    align-items: center;
}
.main-content-about-title-line{
    position: absolute;
    left: 110px;
    top: 8px;
    width: 50%;
    height: 1px;
    background-color: #ff6361;
}
.main-content-services-menu > a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 12px;
    
}
.main-content-services-menu-item > h3{
    margin-bottom: 20px;
}

.footer-baseline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-baseline div img{
    width: 100%;
}
.img-wrapper-right{
    background-image: linear-gradient(45deg, #e47312, #ff6361);
    width: 70px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.footer-baseline-left{
    margin-right: 30px;
}

.footer-baseline-left >a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
}
.contact-menu{
    display: flex;
    margin-bottom: 15px;
}

/* @media (max-width : 400px){
   .nav-bar{
        display: none;
        width: 100%;
    }
    .logo-wrapper{
        width: 50%;
    }
} */