body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;;
}

/* CARD BLOG START*/
#card-section-wrapper{
    display: inline-flex;
    justify-content: space-evenly;
}
.card-wrapper{
    
    width: 30%;
    position: relative;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    color: white;
}
.date-wrapper{
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
}
.date-wrapper .date-num{
    box-sizing: border-box;
    padding: 10px 12px;
    height: 50px;
    color: white;
    background-image: linear-gradient(45deg, #e47312, #ff6361);
}
.date-wrapper .date-month{
    height: 50px;
    padding: 10px 10px;
    background-color: white;
    color: grey;
    box-sizing: border-box;
}
.card-wrapper > img{
    width: 100%;
}

.desc-title-wrapper{
    padding: 20px;
}
.desc-title-wrapper h3{

    margin-bottom: 10px;
}
.desc-title-wrapper p{
    
    margin-bottom: 10px;
}
.desc-title-wrapper a{
    text-decoration: none;
    color:white
}
/* CARD BLOG END*/



/* professionals start */


/* professionals end */

#professional-section-wrapper{
    display: flex;
    justify-content: space-around;
}
.team-card-wrapper{
    width: 20%;
    border: 2px solid palegreen;
    position: relative;
}
.team-card-wrapper img{
    width: 100%;
}

.team-card-social-link{
    width: 60px;
    height: 150px;
    background-color: #E47312;
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
}

.team-card-social-link img{

    display: flex;
    flex-direction: column;
    width: 16px;
    height: 16px;
}